nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: auto;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* nested menu style */
nav li .dropdown{
    display: none;
}
nav li:hover .dropdown{
    display: block;
    position: absolute;
    background-color: yellowgreen;
    padding: 10px;
}